.participants-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.friends-list,
.participants-list {
    flex: 1;
    margin: 0 10px;
}

.friends-list ul,
.participants-list ul {
    list-style-type: none;
    padding: 0;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions button {
    margin: 5px 0;
    padding: 5px 10px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.aside-bottom {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .aside-bottom li {
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
  }
  
  .aside-bottom li::before {
    content: ''; 
    display: inline-block;
    width: 6px; 
    height: 6px; 
    margin-right: 10px; 
    background-color: black;
    border-radius: 50%; 
  }
  
  .clickable-text {
    cursor: pointer; 
    color: inherit; 
    font-size: 18px; 
    text-decoration: none;
    font-weight: normal;
  }
  
  .clickable-text:hover {
    color: inherit; 
    text-decoration: none; 
  }

  .plusbutton{
    
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'MinSans-Regular';
    margin-left:20px;
    font-size: 20px;
  }
  .plusbutton:hover {
  /* 버튼 호버 효과 */
  opacity: 0.8;
  background-color: #f0f0f0;
  }

  .righticon{
    margin-left: 10px;
    align-items: center;
    
  }

  .folderIcon{
    margin-left: 5px;
    margin-right: 7px;
  }

  .selected-project {
    background-color: gray;
    opacity:0.6;
  }

  .wework {
    text-align: center;
    font-weight: bold;
  }
  
