@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #a8ace0, #6c63ff);
    font-family: 'MinSans-Regular';
    color: #F3F3F3;
}

.text-container {
    max-width: 500px;
    margin-right: 50px;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    background: linear-gradient(135deg, #ffffff, #d9d9d9);
    background-clip: text; /* 텍스트만 배경 표시 (표준화된 속성) */
    -webkit-background-clip: text; /* 크롬 및 사파리 지원 */
    color: transparent; /* 텍스트 내부 색상을 투명하게 설정 */
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #ffffff, #e0e0e0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.button {
    background: linear-gradient(135deg, #8980b9, #6c63ff);
    color: #FFF;
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'MinSans-Regular';
    transition: background 0.3s ease;
}

.button:hover {
    background: linear-gradient(135deg, #6c63ff, #8980b9);
}
