.participants-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.friends-list,
.participants-list {
    flex: 1;
    margin: 0 10px;
}

.friends-list ul,
.participants-list ul {
    list-style-type: none;
    padding: 0;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions button {
    margin: 5px 0;
    padding: 5px 10px;
    cursor: pointer;
}

.modal-overlay-invite {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.invite-modal-content {
    background: #fff;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
