.project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 109%;
  margin-left: 200px;
  overflow-x: hidden;
}

/* Make button-group stack vertically on smaller screens */
@media screen and (max-width: 1200px) {
  .button-group {
    flex-direction: column;
    margin-left: 0; /* Remove extra left margin on smaller screens */
    width: 100%;
    align-items: center; /* Center the buttons */
    gap: 16px; /* Reduce gap between buttons */
  }
}

/* Optional: Adjust button-group layout further for even smaller screens */
@media screen and (max-width: 768px) {
  .button-group {
    gap: 8px; /* Even smaller gap on very small screens */
  }
}
.menu-item {
  position: relative;
  flex: 1;
  text-align: center;
  cursor: pointer;
  color: #999; 
  padding: 10px 0;
  font-size: 16px; 
  font-weight: 500;
}

.menu-item::after {
  content: ""; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: transparent; 
  transition: background-color 0.3s ease-in-out;
}

.menu-item.active {
  color: rgb(136, 84, 219); 
}

.menu-item.active::after {
  background-color: rgb(136, 84, 219); 
}

.menu-item:not(.active):hover {
  color: #666; 
}

.content-area {
  margin-top: 20px;
  width: 1000px; 
}
